<div class="container">
  <div class="row my-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Description</th>
          <th scope="col">created At</th>
          <th scope="col">IsCompleted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasksService._tasksARR">
          <th scope="row">1</th>
          <td>{{ task.CustomerName }}</td>
          <td>{{ task.Description }}</td>
          <td>{{ task.createdAt }}</td>
          <td>{{ task.IsCompleted === 0 ? "Not Done" : "Done" }}</td>
          <!-- <app-single-task [task]="task"></app-single-task> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- //  `tasks`(`ID`, `Description`, `IsCompleted`,`createdAt`, `CustomerID`,'CustomerName' ) -->
