<!-- // `women`(`ID`, `WomanName`, `DateOfBirth`, `Country`, `Description`, `UserID`); -->
<!-- //  `users`(`ID`, `UserName`, `Email`, `Password`, `createdAt`); -->
<div class="container">
  <form class="logInForm row mx-auto mt-5 p-3">
    <div class="col-md-12">
      <label for="emailInput" class="form-label">Email</label>
      <input
        type="email"
        [(ngModel)]="usersService._emailInput"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="emailInput"
        required
      />
    </div>
    <div class="col-md-12">
      <label for="PWDInput" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="usersService._PWDInput"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="PWDInput"
        required
      />
    </div>
    <div class="col-12 mt-3">
      <button
        class="btn btn-secondary"
        type="submit"
        (click)="usersService.getUserByEmail('/users/getUserByEmail')"
      >
        LogIn
      </button>
    </div>
  </form>
</div>
