<div class="card border-secondary mb-3 m-2" style="max-width: 18rem">
  <h5 class="card-header text-danger bg-transparent border-secondary">
    {{ woman.WomanName }}
  </h5>
  <div class="card-body text-secondary">
    <h6 class="text-danger">Date Of Birth:</h6>
    <h6 class="card-title">{{ woman.DateOfBirth }}</h6>
    <h6 class="text-danger">Country:</h6>
    <h6 class="card-title">{{ woman.Country }}</h6>
    <h6 class="text-danger">Description:</h6>
    <p class="card-text">{{ woman.Description }}</p>
  </div>
  <div class="card-footer bg-transparent border-secondary">
    <i
      class="fas fa-trash fa-lg mx-2 me-5 ps-4"
      (click)="
        womenService.deleteWomen(
          '/women/deleteWomanByID?ID=',
          woman.ID,
          woman.UserID
        )
      "
    ></i>
    <i
      class="fas fa-edit fa-lg ms-5 ps-5"
      (click)="womenService.editClicked(woman.ID)"
    ></i>
    <!-- <i
      class="fas fa-edit fa-lg ms-5 ps-5"
       routerLink="/forms/addWoman"
    ></i> -->
  </div>
</div>
<!-- // `women`(`ID`, `WomanName`, `DateOfBirth`, `Country`, `Description`, `UserID`); -->
<!-- /women/deleteWomen?ID=${ woman.ID } -->
<!-- '/women/deleteWomen?ID=' + {{ woman.ID }} -->
<!-- (click)="womenService.updateWomen('/women/updateWomen', woman.ID, woman.UserID)" -->
