<!-- // `women`(`ID`, `WomanName`, `DateOfBirth`, `Country`, `Description`, `UserID`); -->
<!-- //  `users`(`ID`, `UserName`, `Email`, `Password`, `createdAt`); -->
<form class="addWomanForm row mx-auto mt-5 p-3">
  <div class="col-md-12">
    <label for="womanNameInput" class="form-label">Woman Name</label>
    <input
      type="text"
      [(ngModel)]="womenService._womanNameInput"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
      id="womanNameInput"
      required
    />
  </div>
  <div class="col-md-12">
    <label for="dateOfBirthInput" class="form-label">Date Of Birth</label>
    <input
      type="text"
      [(ngModel)]="womenService._dateOfBirthInput"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
      id="dateOfBirthInput"
      required
    />
  </div>
  <div class="col-md-12">
    <label for="countryInput" class="form-label">Country</label>
    <input
      type="text"
      [(ngModel)]="womenService._countryInput"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
      id="countryInput"
      required
    />
  </div>
  <div class="col-md-12">
    <label for="descriptionInput" class="form-label">Description</label>
    <textarea
      type="text"
      [(ngModel)]="womenService._descriptionInput"
      [ngModelOptions]="{ standalone: true }"
      class="form-control"
      id="descriptionInput"
      required
    ></textarea>
  </div>

  <div class="col-12 mt-3">
    <button
      class="btn btn-secondary"
      type="submit"
      (click)="
        womenService.addWomanByUserID(
          '/women/insertNewWoman',
          userService._currentUserID
        )
      "
    >
      ADD
    </button>
  </div>
</form>
